{%extends "base.html"%}
{%load static%}

{%block css%}
<style>
    *{
       margin: 0;padding: 0;box-sizing: border-box;
   }

   .main_auth_section{
       font-family: 'Montserrat',sans-serif;
       height: 85vh;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;

   }

   .auth_section{
       height: 80vh;
       display: flex;
       width: 50vw;
       box-shadow: 1px 1px 5px #00000014;
   }

   .image_section{
       flex: 1;
       background: linear-gradient(180deg, #0F0C29 0%, #302B63 52.92%, #24243E 98.23%);
       display: flex;
       justify-content: center;
       align-items: center;
   }
  
   .image_section .main_img{
       width: 80%;
   }
   .form_section{
       flex: 1;
       padding: 30px 20px;
   }


   .welcome{
       margin-bottom: 0.8rem;
   }
   .welcome span{
       font-weight: 500;
   }
   .username{
       /* background: rgba(167, 208, 255, 0.45); */
       background: none;
       border-radius: 45px;
       padding: 15px;
       outline: none;
       border: 1px solid rgba(167, 208, 255);
       width: 90%;
       margin: 10px 0;            
   }

   input::placeholder{
       letter-spacing: 0.1em;
   }

   .forget_pass{
       text-align: right;
       width: 90%;
       margin: .5rem;
       font-size: 15px;
   }
   .forget_pass a{
       text-decoration: none;
       color: black;
   }

   .signup_btn{
       border: none;
       outline: none;
       padding: 12px 30px;
       background: rgba(22, 19, 54, 0.84);
       border-radius: 45px;
       color: white;
       font-weight: 500;
       width: 42%;
       margin: 0.8rem 0;
       transition: .1s linear;
       
   }

      .signup_btn:hover{
       cursor: pointer;
       transition: .1s linear;
       box-shadow: 0px 1px 3px #00000078;
   }

 
   .signup_inc{
       font-size: 15px;
       color: rgba(0, 0, 0, 0.822);
       margin: 1rem 0;
   }

   .signup_inc a{
       text-decoration: none;
       color: black;
       font-weight: 500;
   }

@media(max-width: 1300px){

   .auth_section{
       width: 65vw;
             }

}

@media(max-width: 1150px){

.auth_section{
   width: 80vw;
}

}

@media(max-width:950px){

.auth_section{
height: 72vh;
}

}

@media(max-width: 768px){

.auth_section{
width: 60vw;
box-shadow: 0px 1px 10px #00000042;
height: 75vh;
}
.image_section{
display: none;
}
.username,.password,.forget_pass{
width: 100%;        
}
.form_section{
padding: 30px;
padding-top: 50px;
}


}

@media(max-width: 699px){

.auth_section{
width: 70vw;
}

}

@media(max-width: 599px){

.auth_section{
width: 80vw;
}
}

@media(max-width:499px){

.auth_section{
width:95vw;
}

}

</style>
{%endblock css%}

{%block main_content%}
<div class="main_auth_section">

    <div class="auth_section">

        <section class="image_section">
            <img class="main_img" src="{%static "images/signup.png"%}" alt="symbol">
        </section>


        <section class="form_section">

            <p class="welcome"><span>Good Morning!</span> signup for your new account</p>

            <form action="" method="POST" id="signup">
                {%if messages%}
                {% for message in messages %}
                <p style="color: red;font-weight: bold;font-size: 14px;" class="backErr">{{ message }}</p>
                {% endfor %}
                 {%endif%}

                <p id="errorMessage" style="color: red;font-size: 14px;"></p>
                {%csrf_token%}
                {{signup.as_p}}
                
                <input type="submit" value="Signup" class="signup_btn">
        
                <p class="signup_inc">Already have an account? <a class="signup_" href="{%url "login"%}">Login</a></p>
            </form>
        
        </section>

    </div>

</div>
{%endblock main_content%}


{%block js%}
<script>

    const errorMsg = document.getElementById("errorMessage")

    const name = document.getElementById("id_name")
    const username = document.getElementById("id_username")
    const address = document.getElementById("id_address")
    const pass1 = document.getElementById("id_password1")
    const pass2 = document.getElementById("id_password2")
    const date = document.getElementById("id_date_of_birth")
    
    const signup = document.getElementById("signup")
    
    signup.addEventListener("submit",(e)=>{
        var d1 = new Date()
        var d2 = new Date(date.value)

        console.log(d1.getTime()+"d1")
        console.log(d2.getTime()+"d2")

    
        if(name.value==""||username.value==""||address.value==""||pass1.value==""||pass2.value==""||date.value==""){
            e.preventDefault()
            errorMsg.innerHTML="All fields are required!"
            setTimeout(()=>{errorMsg.innerHTML=""},6000)
            return false
        }
        else{
            if(pass1.value.length < 8){
            e.preventDefault()
            errorMsg.innerHTML="Password length should me atleast 8!"
            pass1.value=""
            pass2.value=""
            setTimeout(()=>{errorMsg.innerHTML=""},6000)
            return false
            }
            else if(pass1.value!==pass2.value){
            e.preventDefault()
            errorMsg.innerHTML="Both Password field didnot match!"
            pass1.value=""
            pass2.value=""
            setTimeout(()=>{errorMsg.innerHTML=""},6000)
            return false
        }
        else if((d1.getTime() < d2.getTime())){
            e.preventDefault()
            errorMsg.innerHTML="Date cannot be in future"
            setTimeout(()=>{errorMsg.innerHTML=""},6000)
            return false
        } 
       
        else{
            return true
        }
        }
    })
    
    username.addEventListener("keyup",(e)=>{
         if(!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(e.target.value)){
            errorMsg.innerHTML="Valid email please"
        }
       
        else{
            errorMsg.innerHTML=""
        }
    })
    
    
    </script>
{%endblock js%}
